<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Login to app</h2>

    <div 
    class="form-control"
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    >
        <label for="enail">Email:</label>
        <input id="email" type="email" formControlName="email">
        <div 
        *ngIf="form.get('email').touched && form.get('email').invalid"
        class="validation"
        >
            <small *ngIf="form.get('email').errors.required">
                Input an email
            </small>
            
            <small *ngIf="form.get('email').errors.email">
                Imail is not correct
            </small>
        </div>
    </div>

    <div
     class="form-control"
     [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
     >
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
        <div
        *ngIf="form.get('password').touched && form.get('password').invalid"
         class="validation"
         >
         <small *ngIf="form.get('password').errors.required">
            Input a password
        </small>

        <small *ngIf="form.get('password').errors.minlength">
            Password should be more than 
            {{form.get('password').errors.minlength.requiredLength}} 
            symbols. Now it's 
            {{form.get('password').errors.minlength.actualLength}} 
            symbols.
        </small>
        </div>
    </div>

    <button 
        type="submit" 
        class="btn btn-dark"
        [disabled]="form.invalid"
        >Submit</button>
</form>